@import 'core/fonticons';
@import 'core/svg-sprite';

html, body{
	height: 100%;
}

body {
	margin: 0;
	background: rgb(50,50,50);
	color: rgb(215,215,215);
	font-family: Arial;
	perspective: 500px;
}

h1 {
	position: absolute;
	top: 50%;
	width: 100%;
	margin: 0;
	font-size: 100px;
	text-align: center;
	transform: translate(0, -50%);
}

.gfx {
	vertical-align: middle;
	transition: transform 500ms;

	&:hover {
		transform: scale(10);
	}
}