body {
	margin: 0;
	background: rgb(50,50,50);
	color: rgb(215,215,215);
	font-family: Arial;
}

h1 {
	position: absolute;
	top: 50%;
	width: 99%;
	margin: 0;
	font-size: 100px;
	text-align: center;
	transform: translate(0, -50%);
}