extends ../shared/layout.pug

block body
	svg#maxo.gfx.gfx-mxm-dims
		use(xlink:href="#mxm")

	include /node_modules/mxm-core/pug/atoms/text.pug
	include /node_modules/mxm-core/pug/atoms/lists.pug
	include /node_modules/mxm-core/pug/atoms/links_buttons.pug
	include /node_modules/mxm-core/pug/atoms/figures.pug
	include /node_modules/mxm-core/pug/atoms/inputs.pug
	include /node_modules/mxm-core/pug/atoms/checkboxes.pug
	include /node_modules/mxm-core/pug/atoms/radios.pug
	include /node_modules/mxm-core/pug/atoms/tables.pug