extends ../shared/layout.pug

block body
	svg#maxo.gfx.gfx-mxm-dims
		use(xlink:href="#mxm")

	include /node_modules/mxm-core/jade/atoms/text.jade
	include /node_modules/mxm-core/jade/atoms/lists.jade
	include /node_modules/mxm-core/jade/atoms/links_buttons.jade
	include /node_modules/mxm-core/jade/atoms/figures.jade
	include /node_modules/mxm-core/jade/atoms/inputs.jade
	include /node_modules/mxm-core/jade/atoms/checkboxes.jade
	include /node_modules/mxm-core/jade/atoms/radios.jade
	include /node_modules/mxm-core/jade/atoms/tables.jade